<h2 mat-dialog-title>Modificar Usuario</h2>

<!-- Formulario para seleccionar el campo y el nuevo valor -->
<div mat-dialog-content>
  <form [formGroup]="modificarForm">


    <!-- Campo para seleccionar el campo a modificar -->
    <mat-form-field appearance="fill">
      <mat-label>Campo a Modificar</mat-label>
      <mat-select formControlName="campo" (selectionChange)="aplicarValidaciones()" required>
        <mat-option *ngFor="let campo of camposDisponibles" [value]="campo">
          {{ campo | titlecase }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="modificarForm.get('campo')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
    </mat-form-field>


    <!-- Campo para ingresar el nuevo valor -->
    <mat-form-field appearance="fill">

      <mat-label *ngIf="modificarForm.get('campo')?.value !== 'tipo_usuario'">Nuevo Valor</mat-label>

      <!-- El input solo se muestra cuando el campo seleccionado no es tipo_usuario -->
      <input matInput [hidden]="modificarForm.get('campo')?.value === 'tipo_usuario'" formControlName="nuevoValor" required />


    <!-- Campo tipo usuario, solo se muestra si 'tipo_usuario' es seleccionado -->
      <mat-label *ngIf="modificarForm.get('campo')?.value === 'tipo_usuario'">Elige rol</mat-label>
      <mat-select [hidden]="modificarForm.get('campo')?.value === 'tipo_usuario'" formControlName="tipo_usuario">
         <mat-option value="admin">Administrador</mat-option>
         <mat-option value="usuario">Usuario</mat-option>
      </mat-select>


      <!--Mensajes de error por validacion-->
      <mat-error *ngIf="modificarForm.get('nuevoValor')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
      <mat-error *ngIf="modificarForm.get('nuevoValor')?.hasError('maxlength')">
        Máximo 50 caracteres permitidos.
      </mat-error>
      <mat-error *ngIf="modificarForm.get('nuevoValor')?.hasError('email')">
        Ingrese un correo válido.
      </mat-error>
      <mat-error *ngIf="modificarForm.get('nuevoValor')?.hasError('pattern')">
        Formato incorrecto
      </mat-error>
      <mat-error *ngIf="modificarForm.get('nuevoValor')?.hasError('minlength')">
        La contraseña debe tener al menos 6 caracteres.
      </mat-error>
    </mat-form-field>

  </form>
</div>


<!-- Botones de acción en el pie del diálogo -->
<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button [mat-dialog-close]="true" (click)="confirmar()" [disabled]="modificarForm.invalid">
    Confirmar
  </button>
</div>
