<h2 mat-dialog-title>Modificar Usuario</h2>

<!-- Formulario para seleccionar el campo y el nuevo valor -->
<div mat-dialog-content>
  <form [formGroup]="modificarForm">


    <!-- Campo para seleccionar el campo a modificar -->
    <mat-form-field appearance="fill">
      <mat-label>Campo a Modificar</mat-label>
      <mat-select formControlName="campo" (selectionChange)="aplicarValidaciones()" required>
        <mat-option *ngFor="let campo of camposDisponibles" [value]="campo">
          {{ campo | titlecase }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="modificarForm.get('campo')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
    </mat-form-field>


      <!-- Input de nuevo valor (solo si no es 'tipo_usuario') -->
    <mat-form-field appearance="fill" *ngIf="modificarForm.get('campo')?.value !== 'tipo_usuario'">
      <mat-label>Nuevo Valor</mat-label>
      <input matInput formControlName="nuevoValor" required />
      <mat-error *ngIf="modificarForm.get('nuevoValor')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
    </mat-form-field>

    <!-- Select de tipo usuario (solo si 'tipo_usuario' es seleccionado) -->
    <mat-form-field appearance="fill" *ngIf="modificarForm.get('campo')?.value === 'tipo_usuario'">
      <mat-label>Elige rol</mat-label>
      <mat-select formControlName="tipo_usuario">
        <mat-option value="admin">Administrador</mat-option>
        <mat-option value="usuario">Usuario</mat-option>
      </mat-select>
      <mat-error *ngIf="modificarForm.get('tipo_usuario')?.hasError('required')">
        Debes seleccionar un rol.
      </mat-error>
    </mat-form-field>

  </form>
</div>


<!-- Botones de acción en el pie del diálogo -->
<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button [mat-dialog-close]="true" (click)="confirmar()" [disabled]="modificarForm.invalid">Confirmar</button>
</div>
