<div class="contenedor-formulario">
  <form [formGroup]="miFormularioUsuario" (ngSubmit)="onSubmit()">

    <h1 class="titulo">REGISTRO</h1>


    <!-- Campo de Nombre Completo -->
    <mat-form-field appearance="fill">
      <mat-label>Nombre Completo</mat-label>
      <input matInput formControlName="nombreCompleto" placeholder="Introduce tu nombre completo">
      <mat-error *ngIf="validation.nombreCompleto?.hasError('required')">Este campo es obligatorio.</mat-error>
      <mat-error *ngIf="validation.nombreCompleto?.hasError('maxLength')">El nombre no puede tener más de 50 caracteres.</mat-error>
    </mat-form-field>


    <!-- Campo de Móvil -->
    <mat-form-field appearance="fill">
      <mat-label>Teléfono Móvil</mat-label>
      <input matInput formControlName="movil" placeholder="Introduce tu teléfono móvil">
      <mat-error *ngIf="validation.movil?.hasError('required')">Este campo es obligatorio.</mat-error>
      <mat-error *ngIf="validation.movil?.hasError('pattern')">Formato de teléfono inválido.</mat-error>
    </mat-form-field>

    <!-- Campo de Correo Electrónico -->
    <mat-form-field appearance="fill">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="correoElectronico" placeholder="Introduce tu correo electrónico">
      <mat-error *ngIf="validation.correoElectronico?.hasError('required')">Este campo es obligatorio.</mat-error>
      <mat-error *ngIf="validation.correoElectronico?.hasError('email')">Introduce un correo electrónico válido.</mat-error>
    </mat-form-field>


    <!-- Campo de Contraseña -->
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="contrasena" placeholder="Introduce tu contraseña">
      <mat-error *ngIf="validation.contrasena?.hasError('required')">Este campo es obligatorio.</mat-error>
      <mat-error *ngIf="validation.contrasena?.hasError('minLength')">La contraseña debe tener al menos 6 caracteres.</mat-error>
    </mat-form-field>


    <!-- Botón de Enviar -->
    <button mat-raised-button color="primary" type="submit" [disabled]="!miFormularioUsuario.valid">Enviar</button>
  </form>

</div>


