<div class="barraMenu">
  <mat-toolbar>

    <!-- Logo -->
    <button mat-icon-button [routerLink]="''">
      <img class="logo" src="/imagenes/logo.png" alt="Logo" />
    </button>

    <!-- Menú hamburguesa para móviles -->
    <button class="menuHamburguesa" mat-icon-button (click)="mostrarMenu = !mostrarMenu">
      <h1 class="iconoHamburguesa">☰</h1>
    </button>

    <!-- Contenedor de los botones de navegación (oculto en móviles) -->
    <div class="navOpciones" [class.mostrar]="mostrarMenu">
      <button class="ico1" mat-icon-button>
        <h2>MANGA</h2>
      </button>
      <button class="ico2" mat-icon-button>
        <h2>POSTER</h2>
      </button>
      <button class="ico3" mat-icon-button>
        <h2>FIGURA</h2>
      </button>
    </div>

    <!-- Icono del usuario -->
    <div class="iconoUsuario">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img class="imagenLogin" src="/imagenes/iconoUsuario.png" />
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'usuarios/nuevo'">Registro</button>
        <button mat-menu-item>Login</button>
      </mat-menu>
    </div>

  </mat-toolbar>
</div>
