/* BARRA DE NAVEGACION */
mat-toolbar{
    background-color: black;
    height: 5rem;
    color: white;
}


.logo{
    width: 80px;
    height: 80px;
    transform: translate(1px, -25px);
}

.ico1{
    margin-left: 18rem;
    color: white;
}
.ico2{
    margin-left: 28rem;
    color: white;
}
.ico3{
    margin-left: 28rem;
    color: white;
}


.imagenLogin{
    width: 3rem;
    height: 3rem;
    transform: translateY(-10px);
    border-radius: 2rem;
}
.logoLog{
    margin-left: 28rem;
    margin-top: 1rem;
}