
/* CONTENIDO LANDING PAGE*/
.contenido {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100vh; /* Ocupa toda la pantalla */
    text-align: center;
}

.flechas-cotedor {
    display: flex;
    justify-content: space-between; /* Distribuye las flechas */
    width: 100%; /* Ajusta el ancho según necesites */
    max-width: 89rem; /* Evita que las flechas se separen demasiado */
    margin-top: 2rem;
}

/* Logo grande */
.icoPricipal{
    width: 32rem;
}

.titulo{
    font-size: 4rem;
    width: 100rem;
}

#flecha1, #flecha2 {
    width: 11rem;
    transform: rotate(470deg);
    height: 10rem;
}

