<app-barra-navegacion></app-barra-navegacion>

<div class="contenido">  
    <img class="icoPricipal" src="/imagenes/logo.png" alt="">  
    <h1 class="titulo">Bienvenido a la tienda de One Piece grumete¡¡</h1>
    <div class="flechas-cotedor">
        <img id="flecha1" class="animate__animated animate__bounce animate__infinite" src="/imagenes/flecha.png" alt="">
        <img id="flecha2" class="animate__animated animate__bounce animate__infinite" src="/imagenes/flecha.png" src="/imagenes/flecha.png" alt="">
    </div>
</div>

